<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Local's Feed</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../public/styles/feed.css">
  </head>
  <body>
    <img class="logo" src="../public/images/logo-placeholder.png" alt="placeholder">
    <nav>
      <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">Logo Here</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn">Button</a></li>
          <li><a class="waves-effect waves-light btn">Button <i class="material-icons right">cloud</i></a></li>
          <li><a class="waves-effect waves-light btn-large">Large Button</a></li>
        </ul>
      </div>
    </nav>
    <h1>Locals Only</h1>
    <div id="map" class="container"></div>
    <script>
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNinrpdBf-Xvg6hIcY_iOF9QGyTDh4ncU&callback=initMap"
    async defer></script>

    <div id="feed" class="container">

      <div class="col s12 m8 offset-m2 l6 offset-l3 z-depth-5">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="../public/images/image-placeholder.jpg" alt="placeholder" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                This is a square image. Add the "circle" class to it to make it appear circular.
              </span>
            </div>
          </div>
          <button data-toggle="collapse" data-target="#ex-content">View More</button>
          <div id="ex-content" class="collapse">
            Lorem ipsum dolor text....
          </div>
        </div>
      </div>
      <div class="col s12 m8 offset-m2 l6 offset-l3 z-depth-5">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="../public/images/image-placeholder.jpg" alt="placeholder" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                This is a square image. Add the "circle" class to it to make it appear circular.
              </span>
            </div>
          </div>
          <button data-toggle="collapse" data-target="#ex-content">View More</button>
          <div id="ex-content" class="collapse">
            Lorem ipsum dolor text....
          </div>
        </div>
      </div>

        </div>
        <div class="card-footer text-muted">San Francisco</div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Script for google map markers -->
    <script type="text/javascript" src="../public/scripts/mapsMarkers.js"></script>
    <!-- materialize-js -->


  </body>
</html>
