 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/style.css">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="/scripts/app.js"></script>

<link rel="stylesheet" type="text/css" href="/styles/style.css">

</head>
    <body>
      <!-- COVERR BACKGROUND TEXT -->
            <div class="homepage-hero-module">
              <div class="video-container">
                <div class="titleInfoWrapper">
                    <h1 class='title'>LOCALS</h1>
                    <h4 class='info'>Planning a trip and you want to know the best activities around?
                      <br>
                      Travelers will join awesome locals and tour your vaction spot together
                      <br>
                      Showing travelers a great time in many cities!
                      </h4>
                  </div>

        <!-- SIGNUP FORM -->
        <div class="forms-div">
        <div class="flex">
          <a href="/login" class="href"><div><button type="button" class="btn btn-info btn-lg">Login</button></div></a>
          <a href="/signup" class="href"><div><button type="button" class="btn btn-info btn-lg">Sign-up</button></div></a>
        </div>
        </div>
          <!-- COVERR VIDEO AND PICTURES -->
                        <div class="filter"></div>
                          <video autoplay loop class="fillWidth">
                          <source src="/images/Big-Apple/MP4/Big-Apple.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                          <source src="/images/Big-Apple/WEBM/Big-Apple.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
                          </video>
                            <div class="poster hidden">
                                <img src="/images/Big-Apple/Snapshots/Big-Apple.jpg" alt="">
                            </div>
                  </div>
              </div>
    </body>
</html>
