 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- materialize css -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- custom styles -->
 <!--  <link rel="stylesheet" type="text/css" href="/styles/style.css"> -->

  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- materialize js -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="/scripts/app.js"></script>

<link rel="stylesheet" type="text/css" href="/styles/index.css">

</head>
    <body>
      <nav class="black accent-4">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Locals</a>
          <a href="#" data-activities="mobile-demo" class="button-collapse"><i class="materiale-icons">Menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn">About</a></li>
            <li><a href='/signup' class="waves-effect waves-light btn">Sign Up</a></li>
            <li><a href='/login' class="waves-effect waves-light btn">Log In</a></li>
          </ul>
        </div>
      </nav>

      <div class='sliderAndContent'>
        <h4 class='info'>Experience new places like never before.
        </h4>
        <div class="slider fullscreen">
          <ul class="slides">
            <li>
              <img src="images/img.jpeg"> <!-- random image -->
            </li>
            <li>
              <img src="images/img1.jpeg"> <!-- random image -->
            </li>
            <li>
              <img src="images/img2.jpeg"> <!-- random image -->
            </li>
            <li>
              <img src="images/fog1.jpeg"> <!-- random image -->
            </li>
          </ul>
      </div>
    </div>

<div class='flexbox'>
 <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/hiking2.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-light-2">Outdoors</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Nightlife<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>

   <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/Nightlife.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-light-2">Nightlife</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Nightlife<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>

   <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/Dining.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-light-2">Dining</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Nightlife<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>


    <footer class="page-footer">
        <div class="footer-copyright">
          <div class="container center-align">
            © 2018 Copyright T.H.E
          <a class="grey-text text-lighten-4 right" href="#!"></a>
          </div>
        </div>
      </footer>


  </body>
</html>
