<link rel="stylesheet" type="text/css" href="/styles/style.css">

 <!-- bootstrap css -->
<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

                      
<!-- Local form register -->
<form method="POST" action="/signup">
    <p class="h4 text-center mb-4">Locals</p>
    <!-- input Name -->
  <div class="col-xs-4 col-xs-offset-4"">
    <label for="Name" class="grey-text">Name</label>
    <input type="text" id="localsInputFormName" class="form-control">
    <br>
    <!-- input Age -->
    <label for="Age" class="grey-text">Age</label>
    <input type="text" id="localsInputFormAge" class="form-control">
    <br>
    <!-- input City -->
    <label for="City" class="grey-text">City</label>
    <input type="text" id="travlersInputFormCity" class="form-control">
    <br>
    <!-- input Bio -->
    <div class="form-group">
    <label for="bioTextarea">Bio</label>
    <textarea class="form-control" id="localsBioTextarea" rows="4"></textarea>
    </div>
    <!-- upload image -->
    <div class="text-center mt-4">
        <div class="file btn btn-sm">Upload<input type="file" name="file"/>
        </div>
    </div>
    <!-- Register button -->
    <div class="text-center mt-4">
      <br>
        <button class="btn btn-unique btn-primary" type="submit">Register</button>
    </div>

  </div>
</form>