img{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

header h1{
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}
#map {
  display:flex;
   height: 400px;
   width: 60em;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 4em;
   margin-top: 2em;
   background-color: black;
 }
#map p{
   color: red;
}
div#map{
  background: grey

}
html, body {
   height: 100%;
   margin: 0;
   padding: 0;
 }
#feed{
  padding-left: 10em;
  padding-right:10em;

}
.bottom-space{
  margin-bottom: 2em;
}
nav div ul{
  display:inline;
}
#sidebar{
  margin-top: .5em;
}
#sidebar ul li{
  margin-top: .5em;
  display: inline;

}
svg{
  margin-left: .5em;
}

.hey{
  opacity: 0;
  transform: scale(2,2);
  transition: transform 1.2s;
}
.halim{
  transform: scale(1,1);
  opacity: 1;
}
.first-parallax{
  height: 40em;
}
.waves-effect .waves-brown .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: white;
    }
