body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

/* Moves slider back */
.slider, .fullscreen{
  z-index: -1;
}

.info{
  z-index: 1;
  text-align: center;
  color: white;
  top: 700px;
  font-family: Bookman;
}

.brand-logo {
  font-family: 'Kaushan Script', cursive;
}

.card{
  height: 300px;
  width: 400px;
}

.flexbox{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 48%;
  margin-bottom: 3%;
}

.cardcontent{
  text-align: center;
}

.card .card-title{
  text-align: center;
}
